* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
}

h3 {
    color: white;
}

/*Navbar*/

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a {
}